---
layout: default
title: Applications Supporting GitLab
extra_css:
  - applications.css
---

<div class="wrapper">
  <div class="container">
    <p>
      Every application that supports Git will work with GitLab.
      Below are some of the applications we wanted to highlight.
      The <a href="http://doc.gitlab.com/ce/api/README.html">GitLab API</a> can be used to add integration to an application.
      File a <a href="https://gitlab.com/gitlab-com/www-gitlab-com/merge_requests?assignee_id=&label_name=&milestone_id=&scope=all&sort=newest&state=all">merge request</a>
      to add a new application to the list.
    </p>

    <h2>Native Apps</h2>

    <div class="media">
      <div class="media-body">
        <h4 class="media-heading"><b>[iOS] GitLab Control</b></h4>
          Third party iPhone app.
        <br>
        <a href="http://gitlabcontrol.com/">gitlabcontrol.com</a>
      </div>
    </div>

    <div class="media">
      <div class="media-body">
        <h4 class="media-heading"><b>[Android] GitLab</b></h4>
          Third party Android app.
        <br>
        <a href="https://play.google.com/store/apps/details?id=com.bd.gitlab&hl=en">Play Store</a>
      </div>
    </div>

    <div class="media">
      <div class="media-body">
        <h4 class="media-heading"><b>[Chrome] GitLab Notifier</b></h4>
          Notify Gitlab events (Commit, Issue, MergeRequest and Milestone).
        <br>
        <a href="https://chrome.google.com/webstore/detail/gitlab-notifier-for-googl/eageapgbnjicdjjihgclpclilenjbobi">Chrome App Store</a>
      </div>
    </div>

    <h2 id="api-clients">API Clients</h2>

    <div class="media">
      <div class="media-body">
        <h4 class="media-heading"><b>GitLab Command Line Tool</b></h4>
          Interact with your GitLab server via the command line to manage snippets, projects and more.
        <br>
        <a href="https://github.com/drewblessing/gitlab-cli">Repository on GitHub</a>
      </div>
    </div>

    <div class="media">
      <div class="media-body">
        <h4 class="media-heading"><b>GitLab Command Line Tool</b></h4>
          Git::Gitlab is a GitLab command line interface.
        <br>
        <a href="https://github.com/numa08/git-gitlab">Repository on GitHub</a>
      </div>
    </div>

    <div class="media">
      <div class="media-body">
        <h4 class="media-heading"><b>Ruby wrapper &amp; CLI</b></h4>
          Ruby wrapper and CLI for GitLab REST API.
        <br>
        <a href="https://github.com/NARKOZ/gitlab">Repository on GitHub</a>
      </div>
    </div>

    <div class="media">
      <div class="media-body">
        <h4 class="media-heading"><b>Python wrapper</b></h4>
          Python wrapper for the GitLab API
        <br>
        <a href="https://github.com/gpocentek/python-gitlab">Repository on GitHub</a>
      </div>
    </div>

    <div class="media">
      <div class="media-body">
        <h4 class="media-heading"><b>PyAPI-GitLab</b></h4>
          PyAPI-GitLab is a python wrapper for the Gitlab API.
        <br>
        <a href="https://github.com/Itxaka/pyapi-gitlab">Repository on GitHub</a>
      </div>
    </div>

    <div class="media">
      <div class="media-body">
        <h4 class="media-heading"><b>GitLab::API::v3 Perl Client</b></h4>
          A complete GitLab API v3 client.
        <br><a href="https://metacpan.org/pod/GitLab::API::v3">Distribution on MetaCPAN</a>
        <br><a href="https://github.com/bluefeet/GitLab-API-v3">Repository on GitHub</a>
      </div>
    </div>

    <div class="media">
      <div class="media-body">
        <h4 class="media-heading"><b>Net::GitLab Perl Client</b></h4>
          Talk to a Gitlab installation via its API.
        <br>
        <a href="https://metacpan.org/release/AYOUNG/Net-Gitlab-0.05">Repository on matacpan.org</a>
      </div>
    </div>

    <div class="media">
      <div class="media-body">
        <h4 class="media-heading"><b>PHP-GitLab-API</b></h4>
          GitLab API client for PHP
        <br>
        <a href="https://github.com/m4tthumphrey/php-gitlab-api">Repository on GitHub</a>
      </div>
    </div>

    <div class="media">
      <div class="media-body">
        <h4 class="media-heading"><b>Laravel API Wrapper</b></h4>
          Laravel API Wrapper for GitLab CE
        <br>
        <a href="https://github.com/adamgoose/gitlab">Repository on GitHub</a>
      </div>
    </div>

    <div class="media">
      <div class="media-body">
        <h4 class="media-heading"><b>Node GitLab</b></h4>
          GitLab API Node.js library.
        <br>
        <a href="https://github.com/moul/node-gitlab">Repository on GitHub</a>
      </div>
    </div>

    <div class="media">
      <div class="media-body">
        <h4 class="media-heading"><b>Java GitLab API</b></h4>
          A wrapper for the Gitlab API written in Java
        <br>
        <a href="https://github.com/timols/java-gitlab-api">Repository on GitHub</a>
      </div>
    </div>

    <div class="media">
      <div class="media-body">
        <h4 class="media-heading"><b>NGitLab</b></h4>
          .NET client for GitLab.
        <br>
        <a href="https://github.com/Scooletz/NGitLab">Repository on GitHub</a>
      </div>
    </div>

    <div class="media">
      <div class="media-body">
        <h4 class="media-heading"><b>Go GitLab Client</b></h4>
          Go client for GitLab.
        <br>
        <a href="https://github.com/Bugagazavr/go-gitlab-client">Repository on GitHub</a>
      </div>
    </div>

    <h2>Utilities</h2>

    <div class="media">
      <div class="media-body">
        <h4 class="media-heading"><b>Usersnap</b></h4>
        Add annotated screenshots to every issue in GitLab. A picture paints a thousand words, so reproducing the bug gets as simple as possible.
        <br>
        <a href="https://usersnap.com/gitlab">www.usersnap.com</a>
      </div>
    </div>

    <div class="media">
      <div class="media-body">
        <h4 class="media-heading"><b>GitLab Identity Connector</b></h4>
          Identity connector for GitLab written using ConnId framework. The
          connector can be used to access GitLab from <a href="http://midpoint.evolveum.com/">midPoint</a>
          identity management system.
        <br>
        <a href="https://github.com/Evolveum/connector-gitlab">Repository on GitHub</a>
      </div>
    </div>

    <h2>Continuous Integration</h2>

    <div class="media">
      <div class="media-body">
        <h4 class="media-heading"><b>GitLab CI</b></h4>
          GitLab Continuous Integration (CI) integrates with your GitLab installation to run tests for your projects.
          Login with GitLab account, add a project with one click and enjoy running your tests.
          GitLab CI is on-premises software that you can install and use on your server(s) and is supported by GitLab B.V.
        <br>
        <a href="https://about.gitlab.com/gitlab-ci/">GitLab CI</a>
      </div>
    </div>

    <div class="media">
      <div class="media-body">
        <h4 class="media-heading"><b>Magnum CI</b></h4>
          Hosted Continuous Integration and Delivery Platform
        <br>
        <a href="http://blog.magnum-ci.com/post/55149963415/integration-with-gitlab">Magnum CI Integration with GitLab</a>
      </div>
    </div>

    <h2>CMS Plugins</h2>

    <div class="media">
      <div class="media-body">
        <h4 class="media-heading"><b>Drupal Plugin</b></h4>
        Connect your Drupal site to a GitLab instance using web services.
        This is purely an API module. You should only enable it if another module requires it or if you want to build code against this API.
        <br>
        <a href="https://www.drupal.org/project/gitlab">www.drupal.org</a>
      </div>
    </div>

    <div class="media">
      <div class="media-body">
        <h4 class="media-heading"><b>Dropfort</b></h4>
        Dropfort helps you to organize your Drupal projects and manage your sites in one simple interface.
        <br>
        <a href="http://dropfort.com">www.dropfort.com</a>
      </div>
    </div>

    <h2>GUI Git Clients</h2>

    <div class="media">
      <div class="media-body">
        <h4 class="media-heading"><b>All GUI Clients</b></h4>
        All Git GUI Clients from all companies are compatible with GitLab.
        <br>
        <a href="http://git-scm.com/downloads/guis">http://git-scm.com/downloads/guis</a>
      </div>
    </div>

    <div class="media">
      <div class="media-body">
        <h4 class="media-heading"><b>Git Tower</b></h4>
        Easy version control in a beautiful, efficient, and powerful app for Mac OS X.
        <br>
        <a href="http://www.git-tower.com/">www.git-tower.com</a>
      </div>
    </div>

    <div class="media">
      <div class="media-body">
        <h4 class="media-heading"><b>Eclipse</b></h4>
          Eclipse has the Egit Team provider that also supports GitLab.
        <br>
        <a href="http://www.git-tower.com/">www.git-tower.com</a>
      </div>
    </div>
  </div>
</div>
