.vacancy h1 {
  font-weight: 600;
  margin-top: 0;
}

.vacancy h1 small {
  text-transform: none;
  font-weight: 300;
}

.vacancy {
  color: #555;
  font-size: 1.7rem;
  margin-bottom: 100px;
  background: white;
  padding: 25px;
  box-shadow: 0px 3px 3px #F0F0F0;
}

.vacancies {
  max-width: 700px;
}

.vacancies .listed-vacancies {
  list-style: none;
  padding-left: 0px;
}

.vacancies .listed-vacancies a {
  font-size: 18px;
}

#content {
  margin-bottom: -75px;
}
