---
layout: default
title: Jobs
extra_css:
  - jobs.css
---

<div id="content">
  <div class="container vacancies">

    <div class="vacancy" id="ie">
      <h1>Interaction Engineer
        <small>Remote</small>
      </h1>

      <p>
        GitLab BV is looking someone that can make GitLab look and feel even better.
        We recognize by the success of Apple and Slack that design and
        usability is as important as solid engineering.
        As interaction engineer, you will be responsible for setting a higher standard in usability and
        design in GitLab.
      </p>

      <p>
        We're looking for someone that can create mockups quickly and implement
        these themselves. You have to have an eye for clean design and understand
        what makes an application easy to use and feel good.
      </p>

      <p>
        Everyone in GitLab works very independently. You will have to be able to
        come up with your own improvements and will be responsible for their full
        implementation, start to finish. We often work on a consultancy basis for
        customers, which means you'll work together with the other engineers to
        implement features on request.
      </p>

      <p>
        GitLab is a booming startup, meaning there is much more work than hands
        available. As first interaction engineer, everything you do will have
        a major impact on the experience of everyone that uses GitLab: hundreds
        of thousands of organisations.
      </p>

      <p>
        You'll need to be familiar with HTML, CSS and JS. Besides jQuery
        we don't use many JS libraries or frameworks, but we welcome any experience
        in one (Ember, Angular, etc). GitLab is built on Bootstrap 3.
      </p>

      <p>
        We're a distributed company and you'll mainly work remote.
        We welcome candidates from all countries between Pacific time and
        Eastern European time (North America, South America, Europe and Africa).
        Most of our customers are in the continental U.S. time zones.
        We're considering opening an office in San Francisco in the coming years.
      </p>

      <h3>Contact</h3>
      <p>Interested in joining our motivated team?
        Send us a short motivation plus your resume (including portfolio) to sytse at gitlab dot com</p>

      <p>
        <small>
          Note for all recruitment agencies: GitLab B.V. does not accept agency resumes. Please do not contact us.
        </small>
      </p>
    </div>

    <div class="vacancy" id="sl">
      <h1>Sales lead
        <small>America / Europe</small>
      </h1>

      <p>
      Gitlab B.V. is quickly becoming more popular amongst organisations throughout the world to manage their source code.
      To keep up with our growth Gitlab B.V. is looking for a sales lead.
      Our sales lead will be responsible for GitLab subscription deals for Fortune 500 companies and large governmental organizations.
      We already have enough inbound interest from these organizations but we need you to lead the procurement process.
      You will also need to articulate our sales strategy and tactics, shape marketing materials and lead our account manager(s).
      </p>

      <p>
      As our sales lead you will need to have B2B sales experience.
      You would need to have closed large deals ($100k+) before.
      Experience selling open source software (RedHat, MySQL, etc.) in the United States would be ideal.
      </p>

      <p>
      Apart from a basic salary we can offer a large performance based bonus and/or a significant stake in the company.
      </p>

      <p>
      We're a distributed company and you'll mainly work remote.
      We welcome candidates from both America and Europe.
      Most of our customers are in the continental U.S. time zones.
      We're considering opening an office in San Francisco in the coming years.
      </p>

      <h3>Contact</h3>
      <p>Interested in joining our motivated team? Send us a short motivation plus your resume to sytse at gitlab dot com</p>

      <p>
        <small>
        Note for all recruitment agencies: GitLab B.V. does not accept agency resumes. Please do not contact us.
        </small>
      </p>
    </div>

    <div class="vacancy" id="is">
      <h1>Inside Sales
        <small>America / Europe</small>
      </h1>

      <p>
      Gitlab B.V. is looking for an inside sales to manage the communication with an increasing number of potential and current customers.
      The job description of the inside sales is split between:
      </p>

      <p>
      Turning opportunities into deals.
      Inside sales handle any inquiries coming to our email addresses and assign them to different teams accordingly.
      They also create deals whenever needed and assign them to respective account managers.
      </p>

      <p>
      Managing deals.
      The inside sales ensure all potential customers' emails are answered and they follow-up internally when a deal is stalled on our end.
      They also keep our centralized customer database updated.
      </p>

      <p>
      Accounting and bookkeeping.
      Inside sales manage invoices, accounts receivable and accounts payable.
      </p>

      <p>
      We're a distributed company and you'll mainly work remote.
      We welcome candidates from both America and Europe.
      Most of our customers are in the continental U.S. time zones.
      We're considering opening an office in San Francisco in the coming years.
      </p>

      <h3>Contact</h3>
      <p>Interested in joining our motivated team? Send us a short motivation plus your resume to sytse at gitlab dot com</p>

      <p>
        <small>
        Note for all recruitment agencies: GitLab B.V. does not accept agency resumes. Please do not contact us.
        </small>
      </p>
    </div>

  </div>
</div>
